%ul
  - @gifs.each do |gif|
    %li{ id: gif.gif_api_id }
      .image
        = image_tag(gif.url)
      .tags
        = text_field_tag :tags, gif.tags, data: { role: 'tagsinput' }, readonly: 'readonly'
