%ul.gif-list
  - @gifs.each do |gif|
    %li{ id: gif.gif_api_id }
      .gif-content
        = image_tag(gif.url)
      .gif-save-option
        = text_field_tag :tags, gif.tags, data: { role: 'tagsinput' }, readonly: 'readonly'
